.news, .news-one, .news-two, .news-three, .news-four, .news-five, .news-six, .news-seven, .news-eight, .news-nine, .news-ten {
    text-align: center;
    width: 453px;
    height: 290px;
    margin-right: -97px;}

.section {
    text-align: center;
}

.title {
    margin: 10px;
}

a {
    font-size: 12px;
    margin: 2px;
}


.title.is-5 {
    font-size: 18px;
}
