/* .news, .news-one, .news-two, .news-three, .news-four, .news-five, .news-six, .news-seven, .news-eight, .news-nine, .news-ten {
    text-align: center;
    width: 453px;
    height: 290px;
    margin-right: -97px;} */

.section {
    text-align: center;
}

.title {
    margin: 10px;
}

a {
    font-size: 12px;
    margin: 2px;
}


.title.is-5 {
    font-size: 18px;
}

.hero-body {
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  text-align: center;
  font-size: 60px;
}

.has-text-link {
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  text-align: center;
  font-size: 60px;
}

.body {
  background-color: black;
}
.row {
margin-top: 20px;
}
/* .row {
 
    position: absolute;
    top: 0px;
    left: 1440px;
  }
  
  .row2 {
   
    position: absolute;
    top: 0px;
    left: 475px;
    
  }
  
  .row3 {
  
    position: absolute;
    top: 0px;
    left: 0px;
  }
  
  .row4 {
   
    position: absolute;
    top: 0px;
    left: 950px;
    
  }
  
  .row5 {
    
    position: absolute;
    top: 475px;
    left: 1425px;
    
  }
  .row6 {
   
    position: absolute;
    top: 475px;
    left: 475px;
    
  }
  .row7 {
   
    position: absolute;
    top: 475px;
    left: 0px;
    
  }
  .row8 {
   
    position: absolute;
    top: 475px;
    left: 950px;
    
    
  }
   */
  @media (max-width: 640px) {
    
   .float{
      
      position: static;
      float:left;
      
      
    }
    .container-fluid{
      
      margin: auto;
    }
  }